# dependencies
node_modules/
server/node_modules/
client/node_modules/

# env files
.env
.env.local
server/.env

# build output
client/dist/
server/public/

# logs
npm-debug.log*
*.log

# editor/OS
.DS_Store
.vscode/
